<h1>Giriş Yapın</h1>

<div class="buttons">
  <div class="large">
    <div class="large-primary-btns">
      <div>
        <button class="large-p-standard-n-icon-btn">Button</button>
        <button class="large-p-pressed-n-icon-btn">Button</button>
        <button class="large-p-disabled-n-icon-btn">Button</button>
      </div>
      <div>
        <button class="large-p-standard-icon-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
          </svg>
          <span>Button</span>
        </button>
        <button class="large-p-pressed-icon-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
          </svg>
          <span>Button</span>
        </button>
        <button class="large-p-disabled-icon-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
          </svg>
          <span>Button</span>
        </button>
      </div>
    </div>
    <div class="large-secondary-btns">
      <div>
        <button class="large-s-standard-n-icon-btn">Button</button>
        <button class="large-s-pressed-n-icon-btn">Button</button>
        <button class="large-s-disabled-n-icon-btn">Button</button>
      </div>
      <div>
        <button class="large-s-standard-icon-btn"> 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="#077777" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#077777" />
          </svg>
          <span>Button</span>
        </button>
        <button class="large-s-pressed-icon-btn"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="#146569" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#146569" />
          </svg>
          <span>Button</span></button>
        <button class="large-s-disabled-icon-btn"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="#B1B7C2" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#B1B7C2" />
          </svg>
          <span>Button</span></button>
      </div>
    </div>
  </div>
  <div class="medium">
    <div class="medium-primary-btns">
      <div>
        <button class="medium-p-standard-n-icon-btn">Button</button>
        <button class="medium-p-pressed-n-icon-btn">Button</button>
        <button class="medium-p-disabled-n-icon-btn">Button</button>
      </div>
      <div>
        <button class="medium-p-standard-icon-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
          </svg>
          <span>Button</span>
        </button>
        <button class="medium-p-pressed-icon-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
          </svg>
          <span>Button</span>
        </button>
        <button class="medium-p-disabled-icon-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
          </svg>
          <span>Button</span>
        </button>
      </div>
    </div>
    <div class="medium-secondary-btns">
      <div>
        <button class="medium-s-standard-n-icon-btn">Button</button>
        <button class="medium-s-pressed-n-icon-btn">Button</button>
        <button class="medium-s-disabled-n-icon-btn">Button</button>
      </div>
      <div>
        <button class="medium-s-standard-icon-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="#077777" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#077777" />
            </svg>
            <span>Button</span>
        </button>
        <button class="medium-s-pressed-icon-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="#146569" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#146569" />
          </svg>
          <span>Button</span>
        </button>
        <button class="medium-s-disabled-icon-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="11" width="16" height="2" rx="1" fill="#B1B7C2" />
            <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#B1B7C2" />
          </svg>
          <span>Button</span>
        </button>
      </div>
    </div>
  </div>
  <div class="icon">
    <div class="icon-primary-btns">
      <button class="icon-p-standard">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
          <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
        </svg>
      </button>
      <button class="icon-p-pressed">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
          <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
        </svg>
      </button>
      <button class="icon-p-disabled">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="11" width="16" height="2" rx="1" fill="white" />
          <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="white" />
        </svg>
      </button>
    </div>
    <div class="icon-secondary-btns">
      <button class="icon-s-standard">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="11" width="16" height="2" rx="1" fill="#077777" />
          <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#077777" />
        </svg>
      </button>
      <button class="icon-s-pressed">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="11" width="16" height="2" rx="1" fill="#146569" />
          <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#146569" />
        </svg>
      </button>
      <button class="icon-s-disabled">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="11" width="16" height="2" rx="1" fill="#C2C7CF" />
          <rect x="13" y="4" width="16" height="2" rx="1" transform="rotate(90 13 4)" fill="#C2C7CF" />
        </svg>
      </button>
    </div>
  </div>
</div>
